/* css variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --style: #383f4d;
}
html {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--dark);
}
body {
  background: #ccc;
  margin: 0;
  /* overflow-x: hidden; */
}
html,
body,
.top-box {
  height: 100%;
}
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--style);
  width: 100%;
  max-height: 4rem;
}
.header h1 {
  color: var(--light);
  font-size: 2rem;
  font-weight: 500;
  margin: 0.6rem 2rem 0 0;
}
.open-slide {
  margin: 1rem 2rem 1rem 4rem 
}
.box-wrapper {
  display: flex;
  flex-direction: rows;
  width: 100%;
}
.top-box {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: var(--primary);
  color: var(--dark);
}
.left-image figure img {
  margin-top: 1rem;
  padding-left: -2rem;
  width: 5rem;
  border-radius: 20px;
}
.left-image figure figcaption strong {
  line-height: 2rem;
  padding: 1rem 1rem;
}
.left-links {
 height: 100vh;
}
.left-links ul{
  margin-left: -1rem;
}
.left-links ul li {
list-style: none;
margin: 1rem 0 3rem -1rem
}
.left-links ul li a{
text-decoration: none;
font-size: 1rem;
transition: 0.3s;
}
.left-links ul li a{
padding: 1rem;
display: block;
color: var(--dark);
}
.left-links ul li a:hover {
  color: var(--light); 
  background: #383f4d;
}
.showcase {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
}
.div-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.boxes {
  display: flex;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--shadow);
  /* background: var(--style) */
}
.box {
  padding: 1rem 0 0 2rem;
  width: 100%;
 
  /* background: red; */
}
.box h1 {
  font-weight: bolder;
  padding-top: 2rem;
  font-size: 2rem;
  margin: -3rem 0 0 0;
  color: #6133dd;
}
.box table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
}
.box table tr {
  /* background-color: var(--primary); */
  color: var(--dark);
  font-size: 1rem;
  text-align: left;
  line-height: 4rem;
}
.box table tr th {
  margin-bottom: 3rem;
}
tr[data-href]:hover {
  background: #999797;
  border: none;
}
.small {
  display: none;
}
.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: fade(rgb(141, 138, 138), 88%);
  z-index: 10;
  padding: 15px;
}
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 15rem;
  padding: 2rem;
  margin: auto;
  border-radius: 4px;
  background-color: var(--dark);
}
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  color: #ccc;
  background-color: transparent;
  background-image: none;
  font-size: 1rem;
}
.modal-close:focus {
  outline: 0;
}
.logo {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
.logo a {
  margin: 0 auto;
}
.logo img{
  margin-top: -1rem;
  width: 80px;
  border-radius: 20px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  line-height: 1.6;
  color: rgb(236, 229, 229);
  font-size: 1rem;
  font-weight: 500;
}
.modal-content div {
display: flex;
flex-direction: column;

}
.modal-content div label {
font-size: 1rem;
font-weight: bold;
margin-top: 10px;
/* width: 40%; */
}
.modal-content div input {
  width: 40%;
  height: 20px;
}
.modal-content div p{
  display: flex;
 margin-top: 0;
}
.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #6133dd;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.primary-btn:hover {
  background-color: #fff;
    color: #6133dd;
    border: solid 1px #6133dd;
}
footer {
  display: flex;
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}



@media (min-width: 320px) and (max-width: 880px) {
.box-wrapper {
    display: flex;
    flex-direction: row;
  }
  .big{
    display: none;
  }
.small{
    display: flex;
  }
  .boxes {
    padding: 1.5rem 1rem;
  }
.top-box{
  width: 50%;
  /* display: none; */
}
.side {
  display: none;
}
.header {
  width: 100%;
}
.open-slide {
  margin-left: 1%; 
}
}
